body {
  margin: 0;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
    color: white;
    background-color: #2e5c36;
    padding: 10px;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
}

h1 {
    font-size: 26px;
    color: #2e5c36;
}

input {
    outline: none;
    border: 1px solid black;
    padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
